.bulb-section {
    position:fixed;
    bottom:0;left:0;
    margin-bottom:20px;
    margin-left:20px;
    z-index:9;
}

.bulb-section button {
    padding:0.5rem;
    border-radius:5px;
    border:var(--Boxes-Border-Size) solid var(--Boxes-Border-Color);
    background:var(--Boxes-BG);
    outline:none;
    line-height:0;
    box-shadow:3px 3px 10px rgba(0,0,0,2.69%);
    cursor:pointer;
    width:calc(var(--Body-Font-Size) * 1.15);
    height:calc(var(--Body-Font-Size) * 1.15);
    box-sizing:content-box;
}

.bulb-section button > * {
    pointer-events:none;
}

.bulb-section button i[class]{
    display:block;
    transform-origin:center;
    font-size:calc(var(--Body-Font-Size) * 1.15);
    color:var(--Body-Text-Color);
    line-height:0;
    backface-visibility: hidden;
}

.bulb-section button:hover i[class]{
    animation-name:speen;
    animation-duration:2s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-fill-mode:forwards;
}

@keyframes speen {
    from {
        transform:rotate(0deg) perspective(0)
    }

    to {
        transform:rotate(360deg) perspective(0)
    }
}

/*----- POPIFY STYLING -----*/
[popify]{
	position:fixed;
	top:0;left:0;
	width:100vw;
	height:100vh;
	backdrop-filter:blur(6px);
	z-index:70; /* increase this number if you can't see your popup */
	
	display:none;
	opacity:0;
}

[popify].show {
	display:flex;
	align-items:center;
	justify-content:center;
}

.popup-box {
    position:relative;
    width:clamp(min(375px, 45vw), min(500px, 69vw), 85vw);
    padding:1.25rem;
    border-radius:0.5rem;
    background:#fff;
    box-shadow:0.5rem 0.5rem 2rem rgba(0,0,0,7%);
}

.popup-box > *:first-child { margin-top:0; }
.popup-box > *:last-child { margin-bottom:0; }

.popup-box > h2:first-child {
    margin-top:0;
    font-size:calc(var(--Body-Font-Size) * 1.1);
}

.popup-box a {
    font-family:"Indivisible-Medium", sans-serif;
}

.close-popup {
    position:absolute;
    top:0;right:0;
    margin-top:calc(0px - (0.4rem / 2) - (0.9rem / 2));
    margin-right:calc(0px - (0.4rem / 2) - (0.9rem / 2));
    outline:none;
    line-height:0;
    padding:0.4rem;
    border-radius:100%;
    background-color:#33373c;
    width:0.9rem;
    font-size:0.9rem;
    box-sizing:content-box;
    border:none;
    cursor:pointer;
    box-shadow:4px 4px 12px rgba(0,0,0,7%);
    transition:background-color 0.25s ease-in-out;
}

.close-popup:hover {
    background-color:#c1c297;
}

.close-popup i[class]{
    pointer-events:none;
    color:#eee;
}
